.ten {
    background-color: #00DD1E !important;
}

.nine {
    background-color: #15DA00 !important;
}

.eight {
    background-color: #48D700 !important;
}

.seven {
    background-color: #79D400 !important;
}

.six {
    background-color: #A9D100 !important;
}

.five {
    background-color: #CEC400 !important;
}

.four {
    background-color: #CB9100 !important;
}

.three {
    background-color: #C86000 !important;
}

.two  {
    background-color: #C53000 !important;
}

.one {
    background-color: #C20200 !important;
}

.zero {
    background-color: #000000 !important;
}

.default {
    background-color: #BDBDBD !important;
}