.default {
    padding: 10px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-right: 5px;
}

.inactive {
    composes: default;
    background-color: #363636;
    color: #fff;
}

.active {
    composes: default;
    background-color: coral;
    color: #fff;
}