.default {
    width: 48%;
    height: 75px;
    border: none;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    margin-right: 5px !important;
    margin-bottom: 5px !important;
}